html, body{
    height: 100%;
}

.container-fluid{
    height: 100%;
    margin: 0;
    padding: 0; 
  
}

// !這邊的高度若要填滿整個螢幕的話，為什麼設定成100%沒有用？
.nav{
    background-color: $new-primary;
    height: 100%;
    
    
}

.navbar{
    width:296px; 
    align-items: start;  
}

.navbar-item{
    width: 100%;
    padding-top: 30px;

    

    &__list:hover{
        background-color: $new-frame;
        .navbar-brand{
         color: $new-notice;
        }
    } 
    &__list a:hover{
        color: $new-second;
    }

}

.nav-logo{
    padding-left: 30px;
    img{
        padding-left: 0;
    }
}


.navbar-brand{
    color: $new-second;
    padding-left: 30px;
    
}

.navbar-member{
    position: absolute;
    bottom: 20px;


    a{
        text-decoration: none;
    }
    p{
        font-size: 12px;
        margin-bottom: 0;
        color: $new-third;
    }

&__account{
    margin-bottom: 0;
}  

&__pic{
    background-color: chocolate;
    background-image: url(../image/andychen.jpeg);
    background-size: cover;
    width: 50px;
    height: 50px;

    
}

}




.assignment-list__course{
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;

}

.assignment-list__course :hover{
    color: $new-notice;
    transition: color 300ms linear;
}

.list-group__content{
    border: $new-frame;
}

.list-group__content a:first-child{
    background-color: $new-primary;

}

   

.list-group__content :hover{
    background-color: $new-primary;
    transition: background-color 300ms linear;
}

.main-function--f1 :hover{
    color: $new-notice;
}

.list-group--number{
    text-decoration: none; 
    
}
.list-group--number :hover{
    color: $new-notice;
    transition: color 300ms linear;


}

.list-group__author{
    color: $new-third;
}

.main-function{
    margin-bottom: 68px;
    text-align: right;

}
.main-function__time{
    text-align: right;
    color: $new-third;

}
.course__more-vert--icon :hover{
    color: $new-notice;
    transition: color 300ms linear;
}

.navbar-member__pic2{
    background-color: chocolate;
    background-image: url(../image/emilywang.jpeg);
    background-size: cover;
    width: 50px;
    height: 50px;

}

// !為什麼已經設定背景色卻只有文字跟圖示有顯示？
// 背景色改不了
.article1-content--btn :hover{
    background-color: darkblue;

}

.navbar-member__pic3{
    background-image: url(../image/andychen.jpeg);
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: chocolate;

}



//為什麼無法改按鈕顏色？
.card-button__1 :hover{
    background-color: blue;
    transition: background-color 300ms linear;


}

.card-chevron__link :hover{
    color: $new-notice;
    transition: color 300ms linear;


}